<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VTT</title>
        <script src="https://unpkg.com/htmx.org"></script>
        <link rel="stylesheet" href="/static/style.css?v=2">
    </head>
    <body>
        <div 
            id="loadExistingUnits"
            hx-get="/loadExistingUnits"
            hx-trigger="loadUnits"
            hx-target="#unitOverlay"
            hx-swap="innerHTML">
        </div>
        <div 
            id="loadUnitsOnStart"
            hx-get="/loadExistingUnits"
            hx-trigger="load"
            hx-target="#unitOverlay"
            hx-swap="innerHTML">
        </div>
        <div
            id="loadGrid"
            hx-get="/grid" 
            hx-trigger="load"
            hx-target = "#grid-container" 
            hx-swap="beforeend">
        </div>
        <div id="ui-overlay">
            <button 
                hx-get="/unit" 
                hx-target="#unitOverlay" 
                hx-swap="beforeend">
                Spawn Unit
            </button>
        </div>
        <div class="grid-wrapper">
            <div id = "grid-container" class="grid"></div>
        </div>
        <div id="unitOverlay" class="unitOverlay"></div>
        <script src="/static/drag.js?v=2"></script>
        <script src="/static/updateClients.js"></script>
    </body>
</html>
