<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello, World</title>
        <script src="https://unpkg.com/htmx.org"></script>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div id="ui-overlay">
            <button hx-get="/grid" hx-target = "#grid-container" hx-swap="beforeend">
                Load Map
            </button>
            <button 
                hx-get="/unit" 
                hx-target="#unitOverlay" 
                hx-swap="beforeend">
                Spawn Unit
            </button>
        </div>
        <div class="grid-wrapper">
            <div id = "grid-container" class="grid"></div>
        </div>
        <div id="unitOverlay" class="unitOverlay"></div>
        <script src="/static/drag.js"></script>
    </body>
</html>